%abstract-heading {	
	font-weight: bold;
	// margin: 1.3rem 0;
	line-height: 1.2;
}

// [v-cloak] {display: none}
[v-cloak] > * { display: none; }
[v-cloak]::before { 
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
}

* {box-sizing: border-box;}

html {
  scroll-behavior: smooth;
  margin: 0; padding: 0;
  font-size: 16px;
}

body {
	font-family: $secondaryFont;
	box-sizing: border-box;	
	background: transparent;
	// background: #F0F2F5;
	margin: 0; padding: 0;	
	font-size: 1.6rem;
	color: $reverseThemeColor;
	@include mq('xl') {		
		
	}
}

header {
	
}

main {
	min-width: $screenMinWidth * 1px;	
}

.app-container {
	padding: 0; margin: 0;
	min-height: 100vh;
	background-color: transparent;
	position: relative;
}

footer {min-width: $screenMinWidth * 1px;}

p {
	margin: 0.5rem 0;
	line-height: 1.7;
}

.opaque-on-hover {
	opacity: .9;
	&:hover {
		opacity: 1;
	}
}

/* Links colors */
a {
	text-decoration: underline;
	color: map-get($linkColor, 'normal');
	cursor: pointer;
	&:visited {color: map-get($linkColor, 'visited')}
	&:hover {color: map-get($linkColor, 'hover');}  
	&:active {color: map-get($linkColor, 'active');}
}

// General rules for H1 to H6 heading tags
$textIncrementSize: $textMaxSize;
@for $i from 1 through 6 {	
	@if $i < 3 {
		h#{$i} {
			@extend %abstract-heading;
			font-family: $primaryFont;
			font-size: #{$textIncrementSize * 0.5};
		}
		@include mq('md') {
			h#{$i} {
				font-size: #{$textIncrementSize * 0.7};				
			}			
		}
	} @else {
		h#{$i} {
			@extend %abstract-heading;
			font-family: $primaryFont;
			font-size: #{$textIncrementSize * 0.5};
		}
		@include mq('md') {
			h#{$i} {
				font-size: #{$textIncrementSize * 0.7};
			}			
		}
	}
	$textIncrementSize: $textIncrementSize * (1 - $textIncrementRatio);
}

.font-primary {
	font-family: $primaryFont;
}

.font-secondary {
	font-family: $primaryFont !important;
}

// Set colors
@each $colorLabel,$colorValue in $colors {
	.bg-#{$colorLabel} {
		background: $colorValue!important;
	}
	.text-#{$colorLabel} {
		color: $colorValue!important;
	}
	.btn-#{$colorLabel} {
		background: $colorValue;
		&:hover {
			background: darken($colorValue, 15%);
		}
	}
	.text-underline-#{$colorLabel} {
		text-decoration: underline $colorValue;
	}
}

// Images
.logo {
	&--x {
		width: 150px;
	}
	&--y {
		height: 150px;
	}
	&--square {
		width: 120px;
		height: 120px;
	}
}

.overlay {
	background: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 999998;
}

.overlay-modal {
	background: rgba(0,0,0,.8);
	position: fixed;
	transition: 0.5s ease;
	top: 0;
	left: 0;	
	height: 100%;
	width: 0;	
	z-index: 20;
}

.overlay-modal--open {
	width: 100%;
}

.spacer--h {
	margin-bottom: 2rem;
	@include mq('lg') {
		margin-bottom: 5rem;
	}
}

/* Intersection observer */
.observed {	
	transform: translateY(0);	
	transition: all 1.2s;
}

.observed.not-visible {	
	transform: translateY(150px);
	opacity: 0;
}

.observed-x {
	transform: translateX(0px);
	transition: all 1.4s;
}

.observed-x.not-visible {
	transform: translateX(-10%);
	opacity: 0;
}

.observed-circle {
	animation: pulse 1s ease-out alternate;
}

.observed-circle.not-visible {	
	opacity: 0;
}

@keyframes pulse {
	0% {
	  	transform: rotate(0deg);
	}		
	100% {
		transform: rotate(360deg);
	}	
  }