.btn {
	box-sizing: border-box;
	display: inline-block;		
	padding: 0.8rem 1.5rem;
	border: none;
	cursor: pointer;
	font-size: 1.6rem;
	border-radius: 4px;
	text-decoration: none;
	font-weight: bold;	
	// white-space: nowrap;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
		0 2px 2px rgba(0,0,0,0.15), 
		0 4px 4px rgba(0,0,0,0.15), 
		0 8px 8px rgba(0,0,0,0.15);
	&-icon {	
		background: transparent;
		box-shadow: none;		
		padding: 0;
	}	
	&--rounded {
		border-radius: 999px;
	}
}

$btnFontSizeBase: 0.9;
$btnPaddingBase: 0.8;
$sizeRatios: (
	'xs': 1, 
	'sm': 1.59, // +159% 
	'md': 2.1, // +213%
	'lg': 2.75, // +275%
	'xl': 3.32, // +332%
	'2xl': 3.87, // +387%	
);
@each $labelSize, $sizeRatio in $sizeRatios {
	.btn-#{$labelSize} {
		font-size: $btnFontSizeBase * $sizeRatio  * 1rem;
		padding: $btnPaddingBase * $sizeRatio * 1rem;
		@each $labelSizeInner, $sizeRatioInner in $sizeRatios {
			@include mq(#{$labelSizeInner}) {
				.btn-#{$labelSizeInner} {
					font-size: $btnFontSizeBase * $sizeRatioInner  * 1rem;
				}		
			}
		}		
	}	
}

.btn-link {
	background: transparent;
	box-shadow: none;
	text-decoration: underline;
}

.cta {
    border-radius: 10px;
    padding: 0 16px;
	font-size: 2rem;
	width: 100%;	
	height: 8rem;	
	background-color: $blueEni;
	position: relative; /* Add this to enable absolute positioning on the pseudo element */
  	overflow: hidden; /* Add this to hide the overflow of the pseudo element */
	transition: letter-spacing 0.3s ease-out;	
	@include mq('lg') {
		font-size: 3rem;
		height: 10rem;
	}
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 50%;
		transform: translate(-50%, -50%);
		animation: light-effect 2.2s ease-out infinite;
	}
	&:hover {
		letter-spacing: 1px;
		&::before {
			animation: none;
		}
	}
}

.btn-full {width: 100%;}