.footer {
	// Make the footer opaque
	background: white;	
	padding: 1.5rem 2rem;
	bottom: 0;
	&__element {
		padding: .7rem 1rem;
	}
	.wrapper {
		display: flex;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;		
	}
	@include mq('sm') {
		.wrapper {
			justify-content: space-between;
		}
	}
	.bloctel {
		font-size: 1.2rem;
		text-align: center;
		color: $discreteColor;
	}
}


.fixed-footer {		
	background: rgba($primaryColor, 0.8);
	position: fixed;
	bottom:0;
	@include mq('2xl') {
	}
}